.batasNav {
  margin-bottom: 20px !important;
}

body {
	width: 110vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
iframe {
  position: relative;
    left: -50px;
}
}